.tile{
    background-color: rgb(224, 232, 207);
}

.tileContainer{
    /*padding-left: 2px;*/
    width: fit-content;
    height: 30px;
}

.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
    padding: 10px;
}