<div style="margin-left: 20px;">
  <p> <span style="font-weight: bold;">NOTE: </span> This webpage was made for educational purposes. Inspiration was taken from other websites.</p>
  <a href="https://www.nytimes.com/games/connections">New York Times Connections</a>
  <p></p>
  <a href="https://connectionsgame.org/">Connections game</a>
</div>
<div class ="container">
  <div class="title">
    <h1>Connections</h1>
  </div>
  
  <app-toolbar style="width: 100%;"></app-toolbar>
  <div class="inner-container">
    <p style="margin-bottom: 10px; margin-top: 18px;">Create groups of four!</p>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <app-finished-row [correctGuesses]="correctGuesses" style="width: 585px;"></app-finished-row>
      <app-grid (taskNameEvent) = 'receiveGameEvent($event)' (correctGuess)='addCorrectGuess($event)' ></app-grid>
    </div>
    <div style="display: flex;">
      <p class="textAttempts">Attempts left:</p>
      <div class="dotContainer" >
        <span *ngFor="let n of numSequence(attemptsLeft)" class="dotAttempt"></span>
      </div>
    </div>
    <div class="button-row">
      <button disabled={{isGameFinished}} class="button-in-row" (click)="shuffleTiles()" mat-stroked-button>Shuffle</button>
      <button disabled={{!isAnyTileChosen}} class="button-in-row" (click)="deselectAllTiles()" mat-stroked-button>Deselect all</button>
      <button disabled={{!canSubmitGuess}} class="button-in-row" (click)="submitChoice()" mat-stroked-button>Submit</button>
    </div>
  
  
  <p>{{displayText}}</p>

  <button *ngIf="isGameFinished"  class="button-in-row" (click)="newGame()" mat-stroked-button>New Game</button>
  

</div>
</div>