<div class ="gameContainer">
  <div style="display: flex; margin-top: 5px; margin-bottom: 0px; ">
    <h1>Word game</h1>
    <button style="right: 37%; position: absolute; margin-top: 5px;" id="about-button"(click)="openDialog()">?</button>
  </div>
  
  <p style="margin-bottom: 2px; margin-top: 10px;">Create groups of four!</p>
  <app-grid (taskNameEvent) = 'receiveGameEvent($event)'></app-grid>
  <div style="display: flex;">
    <p class="textAttempts">Attempts left:</p>
    <div class="dotContainer" >
      <span *ngFor="let n of numSequence(attemptsLeft)" class="dotAttempt"></span>
    </div>
  </div>
  <div class="button-row">
    <button disabled={{isGameFinished}} class="button-in-row" (click)="shuffleTiles()" mat-raised-button>Shuffle</button>
    <button disabled={{!canSubmitGuess}} class="button-in-row" (click)="submitChoice()" mat-raised-button>Submit</button>
  </div>
  
  <p>{{displayText}}</p>
  
</div>